
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.oppenForm()">Open Form</button>
    <h1>{{ 'Nilai a : ' + a}}</h1>
    <h1>{{ 'Rata-Rata : ' + rata_rata}}</h1>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        rata_rata :0, 
      },
      methods : {
        oppenForm : function(){
            let array = [] ;
            let total = 0;
            while (total < 10) {
            this.a = prompt("masukan nilai a");
            array.push(this.a);
            total = parseInt(this.a) + parseInt(total);
            this.a = total;
            }

            this.rata_rata = parseFloat(this.a/array.length);
        },
      },
  });
  </script>
</body>
</html>
