
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <div id=daftar>
    <form @submit.prevent= "submitForm()" >
        <p v-if="errors.length">
            <b>please coorect the following errors :</b>
            <ul>
                <li v-for="error in errors">
                    {{ error }}
                </li>
            </ul>
        </p>
        <table>
        <tr>
        <td><label>Nama : </label></td>
        <td><input type="text" name="nama" ref="nama" v-model="nama"></td>
        </tr>
        <tr>
            <td><label>Alamat : </label></td>
            <td><input type="text" name="alamat" ref="alamat" v-model="alamat"></td>
            </tr>
            <tr>
                <td><label>nomor hp : </label></td>
                <td><input type="text" name="no_hp" ref="no_hp" v-model="no_hp"></td>
                </tr>
        <td><input type="submit" value="SUBMIT"></td>
        </table>
    </form>
</div>
    <br><br>

    <table border="1">
        <tr>
            <td>
                <img width="100" src="https://awsimages.detik.net.id/community/media/visual/2020/07/13/manga-naruto-1_43.webp" alt="">
            </td>
        <td>
            <b>Title : </b> "Ini judul 1" <br>
            <b>Description : </b> "Ini deskripsi 1" <br>

        </td>
        <td>
            <button>Edit</button>
            <button>Hapus</button>
            <button>Upload Foto</button>
        </td>
        </tr>
    </table>

</div>

 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          nama : "",
          alamat : "",
          no_hp : "",
          errors :[],
          member : [],
      },

      methods : {
          submitForm : function(){
              this.errors = []

              if(this.nama.length === 0){
                  this.errors.push("Nama tidak boleh kosong")
                  this.$refs.title.focus()
              }

              if(this.alamat.length === 0){
                  this.errors.push("alamat tidak boleh kosong")
                  this.$refs.description.focus()

              }
              if(this.no_hp.length === 0){
                  this.errors.push("nomor hp tidak boleh kosong")
                  this.$refs.description.focus()

              }

              if(this.errors.length === 0){


                let formData = new FormData()
                formData.append('name', this.nama)
                formData.append('address', this.alamat)
                formData.append('no_hp', this.no_hp)

                const config = {
                methods : "post",
                url : "http://demo-api-vue.sanbercloud.com/api/member",
                data : formData
                }

                axios(config)
                .then((response)=>{
                    console.log(response.data)
                })
                .catch((error) =>{
                    console.log(error)
                })

                  alert("Terima Kasih Anda Telah mengisi data dengan benar")
              }

          },
      
          getBlogs : function(){

            const config = {
                methods : "POST",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }

            axios(config)
            .then((response)=>{
                console.log(response.data)
            })
            .catch((error) =>{
                console.log(error)
            })
          }
        },

        created(){
            this.getBlogs()
        }
  });
  </script>
</body>
</html>
