
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quis 2</title>
</head>
<body>
  <div id="app">
    <form v-on:submit.prevent="addUser">
        <input v-model="newUser" >
        <button>add</button>
    </form>
    <li 
        v-for="user in users"
        v-bind:name="user.name">
            {{ user.name }} 
            <button name="edit" value="edit">edit</button> ||
            <button >
            delete</button>
    </li>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        newUser: '',
                users: [
            {
                'name': 'Muhammad Iqbal Mubarok',
            },
            {
                'name': 'Ruby Purwanti',
            },
            {
                'name': 'Faqih Muhammad',
            },
        ],

      },
      computed : {
      },
      methods : {
        addUser: function(){
                this.users.push({
                    name: this.newUser
                })
                this.newUser = ''
            },

      }
  })
  </script>
</body>
</html>
